body {
	min-width: 960px;
	margin: 0;
  	padding: 0;
	font-size: 16px; 
	line-height: 22px;
	color: #ffffff; 
	background-color: #849d8f;   
	font-weight: 500;    /* medium вроде как побольше на сайте*/
	font-family: "Roboto", "Arial", sans-serif;
}





.sub-menu a {
	font-size: 14px; 
	line-height: 16px;
	color: #323232;
	text-decoration: none;
}

.sub-menu .active {	
	font-size: 14px; 
	line-height: 16px;
	font-weight: bold;
}

.sub-menu li,
.sub-menu a {
	color: #323232;
	font-weight: normal;
}

.slider h2 {
	font-size: 60px; 
	line-height: 60px;
}

.promo h2 {
	font-size: 35px; 
	line-height: 41px;
}

.promo p {
	font-size: 18px; 
	line-height: 22px;
}

.promo .btn {
	font-size: 18px; 
	line-height: 24px;
}

.sliders .btn {
	font-size: 32px; 
	line-height: 44px;
}

.products h3 {
	font-size: 16px; 
	line-height: 22px;
}

.shop-description h2,
.news-and-subsrcribe a {
	font-size: 24px; 
	line-height: 30px;
	color: #323232;
}

.shop-description p,
.news-and-subsrcribe h2 {
	font-size: 16px; 
	line-height: 22px;
	color: #323232;
}

.subscribe-item p {
	font-size: 16px; 
	line-height: 22px;
	font-weight: normal;
	color: #5a5a5a;
}

/* СЕТКА INDEX */



.slider2,
.slider3
  {
	display: none;
}
.main-header {
	color: #ffffff;
	margin-top: 9px;

	margin-bottom: 0px; /* 324 pxРАССТОЯНИЕ ДО НАДПИСИ КРЕМ-БРЮЛЕ */
}

.container {
	width: 1146px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
}
.logo {
	width: 154px;
	height: 64px;
	margin-right: 11px;
	margin-top: 9px;
}
.main-menu > li {
	width: 500px; 
	min-height: 64px;
	position: relative;
}
.main {
	display: flex;
}

.main a.main-link {
	display: block;
	padding: 8px 14px;
	font-size: 16px; 
	line-height: 18px;
	color: #ffffff;
	margin-top: 23px;
	text-decoration: none;
	/* text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

.main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu-layout {
	display: flex;
	flex-wrap: wrap;
}

.main a.main-link:hover {
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	border-bottom: none;
	background: #f8f7f4;
	border-radius: 50px;
}

.main a.main-link:active {
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	border-bottom: none;
	background: #ededed;
	border-radius: 50px;
	box-shadow: inset 0 2px 0 0 #696969;
}

.main .active {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	border-bottom: none;
	background: #d07058;
	border-radius: 50px;
	
}

.sub-menu {
	display: none;
}
.main > li:hover .sub-menu {
    display: block;
}
.main-menu .sub-menu {
	position: absolute;
	width: 128px;
	height: 171px;
	margin: 0;
    padding: 0;
    top: 75px;
    left: 260px; /* ??? как определить эту координату */
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4) ;
    
}

.sub-menu a  {
	display: block;
	list-style: none;
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 8px;
}

.sub-menu .sub-active {
	font-weight: 700;
	margin-right: 9px;
	margin-left: 6px;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* ??? */

}
a.sub-link:hover {
	background-color: #fbded7;
}
a.sub-link:active {
	background-color: #f6b5a5;
}
a.act {
	background-color: #d07058;
}

.user-block {
	width: 261px;
	min-height: 64px;
	margin-left: auto;
	display: flex;
}

.main .underline {
	border-color: rgba(255, 255, 255, 0.2);
}

.user-block  {
	display: flex;
	margin-top: 23px;
	padding: 0px;
	text-decoration: none;
	
}


.sprite {
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
}

.loupe {
	width: 32px;
	height: 32px;
	font-size: 0;
	background-color: rgba(225, 225, 225, 0.2);
	border-radius: 50px;
	background-position: -3px -593px;
	margin-right: 10px;
	border: none;
}

.search {
	display: none ;
}

.search {
	position: absolute;
	padding: 0;
	margin: 0;
	width: 341px;
	height: 84px;
	background-color: #f8f7f4;
	border-radius: 5px;
	right: 330px;
	top: 70px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4) ;
}
.search-field {
	position: absolute;
	width: 297px;
	height: 44px;
	top: 20px;
	left: 14px;
	border-radius: 5px;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	padding-left: 14px;
	font-size: 14px;
	line-height: 24px;	
}
.loupe:hover {
	background-color: #f8f7f4;
	background-position: -3px -630px;
}
.loupe:hover  .search {
		display: block;
}

.enter {
	width: 92px;
	height: 32px;
	margin-right: 10px;
	background-color: rgba(225, 225, 225, 0.2);
	border-radius: 50px;
	background-position: 3px -193px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	
}

.enter-label {	
	position: absolute;	
	margin-left: 42px;
	margin-top: 8px;
}

.login {
	display: none;
	position: absolute;
	width: 277px;
	height: 214px;
	padding: 0;
	margin: 0;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4) ;
	top: 70px;
	right: 228px;
}

.e-mail,
.password {
	position: absolute;
	width: 227px;
	height: 44px;
	border-radius: 5px;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	font-size: 14px;
	line-height: 24px;
	right: 19px;
	padding-left: 14px;

}
.e-mail {
	top: 20px;
	
}
.password {
	top: 84px;
}
.btn {
	background-color: #e84d37; /* добавить гаридиент */
	color: #fefefe;
	border-radius: 40px;
	text-decoration: none;
	text-align: center;
	box-shadow: 0 1px 0 2px #ac1000; /*доделать*/
}
.login-link{
	position: absolute;
	width: 100px;
	height: 33px;
	top: 148px;
	left: 19px;
	padding-top: 11px;
	font-size: 18px;
	line-height: 24px;
}

.login-reminder,
.registration {
	position: absolute;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: none;
}
.underline {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.login-reminder {
	top: 148px;
	left: 139px;
}
.registration {
	top: 168px;
	left: 139px;
}

.login-reminder:hover,
.registration:hover,
.login-reminder:active,
.registration:active {
	color: #e84d37;
}

.enter:hover {
	background-color: #f8f7f4;
	color: #323232;
	background-position: 3px -231px;
}

.enter:hover .login {
	display: block;
}

.cart-empty {
	width: 117px;
	height: 32px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	background-color: rgba(225, 225, 225, 0.2);
	border-radius: 50px;
	background-position: 3px -3px;
}
.cart-empty-label {
	position: absolute;
	margin-left: 46px;
	margin-top: 8px;
}
.cart-empty:hover {
	background-color: #f8f7f4;
	color: #323232;
} /* ??? или здесь вобще не надо наведение */

.cart-with-item {
	width: 117px;
	height: 32px;
	background-color: #f8f7f4;
	border-radius: 50px;
	background-position: 3px -43px;
}

.cart-with-item-label {
	position: absolute;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #323232;
	margin-left: 46px;
	margin-top: 8px;
}
.cart-with-item:hover .cart {
	display: block;

}

.cart {
	display: none;
	position: absolute;
	width: 539px;
	height: 242px;
	padding: 0;
	margin: 0;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4) ;
	top: 70px;
	right: 100px;
	color: #323232;
	font-size: 13px;
	lign-height: 16px;
}

table {
	width: auto;
	height: auto;
	margin-left: 20px;
	margin-top: 20px;
	border-collapse: separate;
	border-spacing: 10px;
}

.cross {
	position: relative;
	background-image: url("../img/cross.svg");
	background-repeat: no-repeat;
	top: 10px;
	left: 0px;
	width: 10px;
	height: 10px;
	
}

.ice-name {
	width: 220px;
	padding-left: 0px;
	
}

.price-calculate {
	width: 120px;
	padding-right: 24px;
}
.total-price {
	position: absolute;
	display: block;
	font-size: 15px;
	line-height: 18px;
	right: 14px;
	bottom: 62px;
}
.order {
	position: absolute;
	width: 170px;
	height: 35px;
	padding-top: 10px;
	font-size: 18px;
	line-height: 24px;
	right: 14px;
	bottom: 21px;
}


.contacts {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	margin-left: 995px;
	padding: 0px;
	padding-top: 10px;
	margin-top: -30px; 
}


.promo {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}
.promo-item {
	width: 560px;
	min-height: 230px;
	margin-right: px;
}

.rasberry {
	background-image: url("../img/raspberry-bg.jpg");
	background-repeat: no-repeat;
	border-radius: 15px;
}

.chokolate {
	background-image: url("../img/chocolate-bg.jpg");
	background-repeat: no-repeat;
	border-radius: 15px;
}

/*
.promo-title {
	padding-top: 20px;
	padding-bottom: 26px;
	padding-left: 18px;
}
.promo p {
	padding-left: 18px;
}
.promo a {
	padding-left: 374px;
}

.promo {
	margin-bottom: 20px;
}
*/

.products,
.shop-description,
.news-and-subsrcribe {
	margin-top: 40px; /* убрать */
	margin-bottom: 40px;
}

.products {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.product-item {
	width: 267px;
	min-height: 340px;
}

.descriptions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.description {
	width: 543px;
	min-height: 88px;
}
.news-and-subsrcribe {
	display: flex;
}
.item {
	width: 560px;
	min-height: 230px;
}
.map {
	width: 100%;
}

.main-footer {
	margin-top: 37px;
}
.main-footer-layout {
	display: flex;
}
.footer-social {
	width: 267px;
	min-height: 34px;
	margin-right: 217px;
}
.footer-navigation {
	width: 327px;
	min-height: 40px;
}
.footer-copyright {
	font-size: 12px;
	width: 267px;
	margin-left: auto;
}
.footer-navigation {
	display: flex;
	flex-wrap: wrap;
}
.navigation {
	width: 150px;
	min-height: 16px;
	margin-right: 10px;
}

/* СЕТКА CATALOG */
.breadcrumbs ul {
	display: flex;
}
.breadcrumbs li {
	list-style: none;
	margin-right: 10px;
}
.catalog-title {
	margin-top: 10px;
}
.search-criteria {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
}
.sort {
	width: 193px;
	min-height: 60px;
	margin-right: 15px;

}
.range-filter{ 
	width: 218px;
	min-height: 60px;
	margin-right: 15px;
}
.fat {
	width: 414;
	min-height: 60px;
}
.filler {
	width: 702px;
	min-height: 60px; 
	margin-right: 15px;
	margin-top: 18px;
}
.btn-search {
	width: 143px;
	min-height: 60px;
	margin-top: 18px;
}
.pagination {
	margin-top: 80px;
	display: flex;
	justify-content: flex-end;
}
.pagination li {
	list-style: none;
	margin-right: 14px;
}












